main>section{
    display: flex;
    margin: 8%;
    gap: 5%;

}

main>section>.about{
    padding-top: 5%;
}

main>section>.about>button{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-style: none;
}